.chart {
    background-color: #252D3A;
    margin: 12px;
    /* height: 50vh; */
}

.chart > p {
    color: white;
    padding: 24px 0px 12px 12px;
}

.chart__container {
    display: flex;
}

.chart__containerLeft {
    flex: 0.5;
}

.chart__containerRight {
    flex: 0.5;
}